*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  background: #1a1a1a;
  font-family: "Roboto", sans-serif;

  height: 100%;
  color: #ffffff;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  padding: 0 10px;
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #00000059;
  transition: background-color 0.6s, top 0.3s linear;
  z-index: 10;
}
.header.active {
  z-index: 1001;
  background-color: transparent;
}
.header:not(.active):hover {
  background-color: #1a1a1a;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-brand {
  font-size: 20px;
  color: #ffffff;
}
.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;

  opacity: 1;
  transition: opacity .125s ease-in;
}
.btn-menu.active {
  background-color: #000000;
  color: #ffffff;
}
.btn-menu:not(.active):hover {
  background-color: #ffffff;
  color: #000000;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}
.close-icon {
  display: none;
}
.main {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}
.fool-screen-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.fool-screen__body {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: start;
  z-index: 2;
  text-transform: uppercase;
  padding: 15px;
  background-color: #00000051;
  width: 100%;

  height: 100%;
  justify-content: end;
  color: #ffffff;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #ffffff;
  height: 5px;
  width: 5px;
  margin: 0 12px;
}
.fool-screen__title {
  font-size: 24px;
  letter-spacing: 8px;
  font-weight: 700;
  margin-bottom: 20px;
}
.fool-screen__description {
  font-size: 18px;
  letter-spacing: 8px;
  margin-bottom: 50px;
}
.fool-screen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.content {
  margin: 100px 0;
}
.container > p {
  display: block;
  font-size: 1em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.footer {
  border-top: 1px dotted #6c757d;
  padding: 2.5rem 0;
  display: grid;
  gap: 1.5rem;
  margin: 12px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-template-areas:
    "logo back-to-top"
    "navbar-nav navbar-nav"
    "social-media social-media"
    "footer-rights footer-rights";
}
.logo {
  grid-area: logo;
  font-size: 20px;
}
.logo .material-symbols-outlined {
  font-size: 16px;
}
.social-media {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  grid-area: social-media;
  padding-top: 2rem;
  border-top: 1px dotted #6c757d;
}
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-color: #333;
  height: 40px;
  width: 40px;
  padding: 0;
  min-width: auto;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 400;
  min-height: 33px;
  border-radius: 25px;
  font-size: .875rem;
  color: #1a1a1a;
  white-space: nowrap;
  cursor: pointer;
}
.btn-icon>svg {
  width: 35%;
}
.back-to-top {
  grid-area: back-to-top;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #e1e1e1;
  font-size: 0.875rem;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: start;
  font-size: 16px;
  grid-area: navbar-nav;
}
.nav-link {
  color: #e1e1e1;
}
.footer-rights {
  text-align: left;
  color: #9A9A9A;
  font-size: 16px;
  grid-area: footer-rights;
}
/* menu */
.menu-overlay {
  display: none;
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 900;
  flex-direction: column;
  max-width: 100%;
  visibility: visible;
  background-clip: padding-box;
  outline: 0;
}
.offcanvas-body {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}
.offcanvas-content {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-x: hidden;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}
.menu-left-side {
  height: 100vh;
  overflow: hidden;
  width: 0%;
}
.body {
  margin-top: 6.25rem;
  display: flex;
  flex-direction: column;
}
.menu-title {
  color: #ccc;
}
.navbar-drop-menu {
  color:  black;
}
.drop-nav-item>a {
  font-size: calc(1.33125rem + .975vw);
  font-weight: 500;
  line-height: 1.2;
  color: #333333;
}
.drop-nav-item>a:hover {
  color: #ccc;
}
.menu-footer-rights {
  padding-top: 20px;
  text-align: left;
  color: #9A9A9A;
  font-size: 16px;
}
.menu-social-media {
  display: flex;
  flex-direction: row;
  gap: 18px;
  text-align: left;
}
.menu-active {
  color: #000000;
  font-weight: 600;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ebebeb;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
}

@media (min-width: 600px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .fool-screen__body {
    align-items: center;
  }
  .fool-screen__title {
    letter-spacing: 12px;
    font-size: 40px;
  }
  .fool-screen__description {
    letter-spacing: 10px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .container > p {
    font-size: 1.25em;
  }
  .offcanvas-content {
    max-width: 67%;
    min-width: 67%;
  }
  .menu-left-side {
    width: 33%;
  }
  .navbar-brand {
    color: #ffffff;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 40px;
  }
  .fool-screen__title {
    letter-spacing: 25px;
    font-size: 50px;
  }
}
@media (min-width: 1064px) {
  .footer {
    grid-template-columns: auto 1fr 150px;
    grid-template-rows: auto;
    grid-template-areas: 
      "logo social-media back-to-top"
      "navbar-nav footer-rights footer-rights";
  }
  .social-media {
    justify-content: right;
    padding: 0;
    border: none;
  }
  .back-to-top {
    justify-content: center;
  }
  .footer-rights {
    text-align: right;
  }
  .offcanvas-content {
    max-width: 50%;
    min-width: 50%;
  }
  .menu-left-side {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1152px;
    padding: 0;
    margin: 0 auto;
    font-size: 1.5em;
  }
}